.vscode/**
.vscode-test/**
.claude/**
.codex/**
.github/**
.specify/**
specs/**
out/**
node_modules/**
src/**
AGENTS.md
.mise.toml
.npmignore
.prettierignore
.prettierrc.yaml
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
